%h2 {{ checklist.caption }}
%form
  .checkbox{"ng-repeat" => "checkname in checklist.list"}
    %label
      %input{type: "checkbox", "ng-model" => "checklist.checked[checkname]", "ng-change" => "checklist.onCheckChange(checkname)"}
      {{ checkname }}
    %br
